
* {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header section started  */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    max-height: 15vh;
    top:3rem;
    padding:1rem 2rem;
    overflow: hidden;
}

.green-btn1 {
    padding: .6rem 1rem;
    border-radius: .4rem;
    background-color: #1ceb1c;
    width: 8rem;
    border: none;
    font-size: .8rem;
    color: white;
    font-weight: 600;
}

.logo img{
    max-height:12vh;
    width:auto;
    margin:1rem 0 0 3rem;
}

.navbar ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li{
    list-style: none;
    margin-right: 2rem;
}

.navbar ul li a{
    font-size: 1rem;
    font-weight: 600;
    color:white;
}
/* header section ends */

/* home section starts */
.home {
    min-height: 100vh;
    background: linear-gradient(rgba(29, 29, 29, 0.582), rgba(0, 0, 0, 0.63)), url(../images/IMG_9780.JPG) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
    overflow-x: hidden;
    position: relative;
    bottom:6rem;
    display: flex;
    align-items: center;
}

.home .box-container{
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
}

.home .box-container .box{
    max-width: 30rem;
    margin-left: 5rem;
}

.home .box-container .box h1{
    font-size: 3rem ;
    color: white;
}

.home .box-container .box h1+h1{
    font-weight: 400;
    font-size: 2.5rem ;
    color: white;
}

.home .box-container .box h3{
    font-size: 1.5rem ;
    font-weight: 400;
    color: white;
    margin-top: 1rem;
    line-height: 160%;
}

.green-btn {
    padding: .6rem 1rem;
    border-radius: .4rem;
    background-color: #1ceb1c;
    width:9rem;
    border: none;
    margin-left: 5rem;
    font-size: 1rem;
    color:white;
    margin-top: 2rem;
    font-weight: 600;
}

/* home section ends */




