* {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    /* z-index: 1000; */
    /* transition: .2s; */
    max-height: 15vh;
    top:3rem;
    padding:1rem 2rem;
    /* background-color: rgba(255, 255, 255, 0); */
    overflow: hidden;
}

.logo img{
    max-height:12vh;
    width:auto;
    margin:1rem 0 0 3rem;
}

.navbar ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li{
    list-style: none;
    margin-right: 2rem;
}

.navbar ul li a{
    font-size: 1.2rem;
    font-weight: 500;
    color:white;
}

.home {
    min-height: 100vh;
    background: linear-gradient(rgba(53, 53, 53, 0.459), rgba(0, 0, 0, 0.363)), url(../images/IMG_9780.JPG) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
    overflow-x: hidden;
    position: relative;
    bottom:6rem;
    display: flex;
    align-items: center;

}

.home .box-container{
    display: flex;
    flex-direction: column;
}

.home .box-container .box{
    /* display: flex;
    flex-direction: colum;
    justify-content: flex-start; */
    max-width: 30rem;
    margin-left: 5rem;
}

.home .box-container .box h1{
    font-size: 3rem ;
    color: white;
}

.home .box-container .box h1+h1{
    font-weight: 400;
    font-size: 2.5rem ;
    color: white;
}

.home .box-container .box h3{
    
    font-size: 1.5rem ;
    font-weight: 400;
    color: white;
    margin-top: 1rem;
}






